<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<form class="form-horizontal" ng-submit="editPost()" ng-init="getSinglePost()">
				<div class="row form-group">
					<label for='title' class="col-sm-6 control-label">Title</label>
					<div class="col-sm-6">
						<input type="text" name='title'  class="form-control input-local" required ng-model="singlePost.title"></input>
					</div>
				</div>

				<div class="row form-group">
					<label for='author' class="col-sm-6 control-label">Author</label>
					<div class="col-sm-6">
						<input type="text" name='author'  class="form-control input-local" required ng-model="singlePost.author"></input>
					</div>
				</div>

				<div class="row form-group">
					<label for='image' class="col-sm-6 control-label">Image</label>
					<div class="col-sm-6">
						<input type="url" name='image'  class="form-control input-local" required ng-model="singlePost.image"></input>
					</div>
				</div>

				<div class="row form-group">
					<label for='category' class="col-sm-6 control-label">Category</label>
					<div class="col-sm-6">
						<input type="text" name='category'  class="form-control input-local input-lg" required ng-model="singlePost.category"></input>
					</div>
				</div>
					
				<div class="row form-group">
					<label for='content' class="col-sm-6 control-label">Content</label>
					<div class="col-sm-6">
						<input type="text" name='content'  class="form-control input-local input-lg" required ng-model="singlePost.content"></input>
					</div>
				</div>

				<div class="row from-group">
					<div class="col-sm-offset-6 col-sm-10">
						<button type="submit" class="btn btn-info input-local">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>