<div id="postWrapper" class="container row" ng-init="getPosts()">
	<div class="col-md-8" ng-repeat="post in posts">
		<div class="posts row">
			<div class="info col-sm-12">
				<span>in <span class="category">{{post.category}}</span> <span>By {{post.author}}</span></span>
				<span class="pull-right">{{post.createddate | date : timeAgo}}</span>
			</div>
			<div class="thumbnail">
				<img src="{{post.image}}">
			</div>
			<div>
				<div class="postContent">
					<h2 class="title"><a href="/#/more/{{post._id}}">{{post.title}}</a></h2>
					<p class="par">{{post.content | limitTo: 300}}...</p>
				</div>
				<div class="likesComments">
					<div>
						<span class="like"><span><i ng-click="liker(post._id)" class="fa fa-heart likeIcon" aria-hidden="true"></i></span> <dr-Likes separate='false' id="{{post._id}}"></dr-Likes></span>
						<span class="comments"><i class="fa fa-comment commentIcon" aria-hidden="true"></i> <dr-Comments id='{{post._id}}'></dr-Comments></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>