$bodyBG : #fafafa;
$infoBg: #bdbdbd;
$contentBorder: 1px solid #252525;
$BorderRadius: 5px 5px 0 0;
$contentBoxshadow: 0 0 5px #000;
$contentFont: sans-serif, 'arial';
$headColor: #1c1c1c;
$parlineHieght: 1.7em;
$parColor: #252525;
$extraPadding: 20px;
$extraMargin: 50px;
$midPadding: 10px;