/* the bg image */
$bodyBg : url('../../images/6HJtLkJSDqjqlE2NipEu_macbook.jpg');

/* the Colors */
$fontColor: #222222;
$headerFontColor: #fafafa;
$navLinkColor: #00897b;
$navLinkHoverColor: #4db6ac;
$navBrandFNColor: #e53935;
$navBrandLNColor: #00bfa5;
$footerFontColor: #cccccc;
$footerIconsHoverColor: #777777;
$categoryFontColor: #009688;
$postInfobg: #cfd8dc;

/* Padding and Margins */
$lowPadd: 10px;
$midPadd: 20px;
$highPadd: 50px;

$lowMar: 10px;
$midMar: 20px;
$highMar: 50px;
$XhighMar: 70px;
$XLhighMar: 200px;

/* Borders and Boder-raduis */
$borderbasic: 1px solid #000;
$authorImageBorder: 5px solid #cfd8dc;
$authorImageBorderHover: 5px solid #339966;

$topLeftRightSideBR: 5px 5px 0 0;
$bottomLeftRightSideBR: 0 0 5px 5px;
$fourSideBR: 5px;
$roundImageBR: 50%;


/* boxshadow */
$boxShodowBasic: 0 0 5px #252525;
$boxShadowSecondary: 0 0 10px #252525;

/* Text shadow */
$textShadow: 0 0 0 0 grey;

/* Typographt */
$NameFont :'Satisfy', cursive;
$PostFont :'Open Sans', sans-serif;

/* font-size */
$NameFontSize: 1.6em;