@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_typography.scss";
@import "./_buttons.scss";


body {
	background: $bodyBG;
}

.info {
	padding: $extraPadding;
	background: $infoBg;
	border-radius: $BorderRadius;
}

a:hover {
	text-decoration: none;
}

.posts {
	border-radius: $BorderRadius;
	box-shadow: $contentBoxshadow;
	margin-bottom: $extraMargin;
}

.title a {
	padding: $midPadding;
}

.par {
	padding: $midPadding;
}

.local-img {
	box-shadow: $contentBoxshadow;
}